*{
  box-sizing: border-box;
}
html, body{
  font-family: arial-black;
}
body{
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  height: 170px;
  line-height: 100px;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: 2px solid black;
}
.text{
  float:left;
  font:cursive;
  color: #4B0082;
}
.logo{
  width:30px;
  height: 30px;
  float:left; 
  margin-right: 218px;
}

h1{
  margin-bottom: 50px;
}
.row{
  text-align: center;
}
.title{
  text-align: center;
  font-weight: bolder;
}
.github{
  width:120px;
  margin-bottom: 18px;
}
.firebase{
  width: 45px;
}
.caption{
  background-color: white;
  border-radius: 40%;
  margin-bottom: 50px;
}
h3{
  color:white;
  text-decoration: none;
  padding: 8px 12px;
  background-color:#003311; 
  border-radius: 40px;
  margin: 20px;
  clear:both;
}
.whiteBackground{
  background-color: white;
}
p{
  margin: 20px;
  font-size: 18px;
}
footer{
  background-color: #003311;
  height: 100px;
  width: 100%;
  color: white;
  font:cursive;
  font-size: 40px;
  font-weight: bold;
  clear: both;
}
.contact{
  text-align: center;
  display:inline-block;
}
.email{
  width: 35px;
}
.linked{
  width: 35px;
}
.twitter{
  width: 30px;
}


