*{
  box-sizing: border-box;
}
html, body{
  font-family: arial;
}
header{
  height: auto;
  line-height: 100px;
  padding: 10px;
  font-size:20px;
  border-bottom: 2px solid black;
}
.text{
  float:left;
  font:cursive;
  color: #4B0082;
}
.title{
  text-align: center;
}
.logo{
  float:right;
}
.github{
  width:100px;
}
.contact{
  text-align: center;
  display:inline-block;
}




@media screen and (min-width: 768px){
  main, main .row{
    height: 100%;
  }
} 